  <div class="card">
      <div class="card-header"> <b> User:
          <%= comment.commenter %>
        </b>
      </div>
    <div class="card-body">

      <div class="card-text border-success">Comment:
        <%= comment.body %>
      </div>
      <br />
      <%= link_to 'Remove', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-danger card-link" %>
    </div>
  </div>