  <div class="card">
    <div class="card-header"> <b> @<%= comment.commenter %> 
      </b>
        <%= comment.created_at.strftime(" %m.%d.%Y") %>
    </div>
    <div class="card-body">

      <div class="card-text border-success">
        <%= comment.body %>
      </div>
      <br />
      <%= link_to 'Remove', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-danger card-link" %>
    </div>
  </div>