<div class="jumbotron">
    <h3 class="display-5">User:</h3>
    <p class="lead">
        <%if logged_in?%>
        You are Logged In, <b><%= current_user.username %></b>
        <%end%></p>
    <hr class="my-4">
    <p> Change name: </p>
    <ul>
        <li><%= button_to "Change name", '/create', method: :get%></li>
        <li><%= button_to "Logout", '/logout', method: :delete%></li>
        <ul>
</div>