<div class="jumbotron alert-danger">
    <h3 class="display-5">Stay at home and away from others, Coronavirus here! 🦠😷</h3>
    <p class="lead">You can spread the virus even if you don’t have symptoms.</p>
    <hr class="my-4">
    <p> What you're need to know: </p>
    <ul>
        <li>Only go outside for food, health reasons or work (but only if you cannot work from home)</li>
        <li>If you go out, stay 2 metres (6ft) away from other people at all times</li>
        <li>Wash your hands as soon as you get home</li>
        <li>Do not meet others, even friends or family.</li>
        <ul>
            <%# if you wanna to see the JSON answer uncomment %>
            <%# @output_JSON %>
</div>