    <div class="container">
      <%= render 'home/container' %>
      <%# @output_JSON %>
      <div class="row mx-auto">
        <%= yield %>
      </div>
      <% = render 'home/pagination'%>
    </div>