<%# This is the main View for file Welcome %>

<h1 class="column mx-auto">Hello, this will be changed by me! </h1>
<p class="row mx-auto">This page is rendering from app/views/welcome/index.html.erb</p>

<%= link_to  "My Blog", controller: 'articles' %>

<%= link_to  "New article", new_article_path %>